--- !ruby/object:GEB::Broker::AMQP::Config
name: amqp-jenkins
uri: amqp://localhost
user: 
exchange:
  type: topic
  name: gerrit.event

--- !ruby/object:GEB::Gerrit::Config
name: gerrit
uri: ssh://user@localhost:29418
ssh_key: /home/user/.ssh/gerrit'
broker: amqp-jenkins
routing_key: gerrit.event.localhost
